body{
  background: #FCEFDF;
}

.header{
  max-width: 1200px;
  padding: 40px 20px;
  display: flex;
  justify-content: space-between;
   align-items: center;
   margin: 0 auto;
}

.header img{
  max-width: 100%;
}

.header-menu{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.header-menu a{
  text-decoration: none;
  color:#29435D;
  padding: 10px 20px;
  /* background-color:aqua; */
  line-height: 1.125rem;
  display: block;
}

@media (max-width: 1000px ){
  .header{
    flex-direction:column;
    gap: 40px;
    padding: 20px;
  }
  
  .header a{
   background: #A1B5BB;
   border-radius: 4px;
   gap: 40px;
  }
}
